.help-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-container {
    width: 800px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 1px 2px 15px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 2px 15px -1px rgba(0, 0, 0, 0.6);
    border: 1px solid transparent;
}

.help-container:hover {
    border: 1px solid rgba(0, 0, 0, 0.371);
}

h2 {
    text-align: center;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    margin-bottom: 10px;
}

.footer-text {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 24px;
}

.icon {
    text-decoration: none;
    color: blue !important;
    margin-left: 5px;
    font-weight: bold;
}

.help-container ul {
    list-style: disc !important;
    cursor: auto !important;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.help-container li {
    border-left: 5px solid transparent !important;
    cursor: default !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.help-container li:hover {
    border-left: 5px solid transparent !important;
}

.help-container p {
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media(max-width: 1200px) {
    .help-container {
        width: 450px;
    }
}

@media(max-width: 775px) {
    h2 {
        font-size: 18px;
    }
    .help-container p {
        font-size: 13px !important;
    }
    .help-container {
        padding: 5px;
        margin-top: 20px;
    }
    .headline-main {
        margin-left: 50px;
    }
    .footer-text {
        font-size: 16px;
    }
}

@media(max-width: 550px) {
    .help-container {
        width: 350px;
    }
    h2 {
        font-size: 16px;
    }
    .help-container p {
        font-size: 11px !important;
    }
}