body {
    margin: 0px;
}

.container-imprint {
    margin-left: 400px;
    padding-top: 20px;
    margin-right: 200px;
}

.container-imprint a {
    color: #22318B;
}

h1 {
    color: #22318B;
}

p {
    font-size: 16px;
}

@media(max-width:775px) {
    .container-imprint {
        padding-top: 100px;
        margin-left: 50px !important;
        margin-right: 200px;
    }
    h1 {
        font-size: 24px;
        text-align: center;
    }
    p {
        font-size: 14px;
    }
}

@media(max-width:1200px) {
    .container-imprint {
        margin-left: 300px;
        margin-right: 50px;
    }
}