body {
    margin: 0;
}

.container {
    margin-left: 300px;
    padding-top: 100px;
    padding-left: 50px;
}

.add-task-container{
    margin-left: 332px;
    margin-top: 32px;
    margin-right: 32px;
    background-color: #f2e8f094;
    height: 450px;
    border-radius: 29px;
}

.add-task-1-raw {
    display: flex;
    justify-content: space-around;
}

.add-task-2-raw {
    display: flex;
    justify-content: space-around;
}

.add-task-3-raw {
    display: flex;
    justify-content: space-around;
}

.titel-1 h3 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: -5px;
}

.titel-1 p {
    color: rgb(93, 93, 93);
    font-size: 18px;
}