body {
    margin: 0;
}

h3 {
    color: #22318B;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: -5px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

p {
    color: rgb(93, 93, 93);
    font-size: 18px;
}

.bg {
    background-color: #d6d5dc;
}

.container {
    margin-left: 300px;
    padding-top: 100px;
    padding-left: 50px;
}

@media(max-width: 1200px) {
    .container {
        margin-left: 250px;
    }
}

@media(max-width: 775px) {
    .container {
        padding-top: 100px;
        margin-left: 0px;
        padding-left: 0px;
    }
    h3 {
        font-size: 24px;
    }
}