<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="icon" href="../img/joinlogo.png">
    <link rel="stylesheet" href="../style/sidebar.css">
    <link rel="stylesheet" href="../style/fonts.css">
</head>

<body>

    <div>

        <div class="sidelbarMenu">
            <div class="sidebar-menu-list">
                <ul>
                    <li>
                        <a href="board.html"> <img src="../img/logo.png"> </a>
                    </li>
                    <li>
                        <a href="board.html"> Board</a>
                    </li>
                    <li>
                        <a href="backlog.html"> Backlog</a>
                    </li>
                    <li>
                        <a href="add-task.html">Add Task</a>
                    </li>
                    <li>
                        <a href="help.html">Help</a>
                    </li>
                </ul>
            </div>



            <div class="footer">
                <div class="footer-links">
                    <a href="#">Impressum</a>
                    <a href="#">Datenschutz</a>
                </div>

            </div>


        </div>




</body>

</html>